.*
!/.gitignore
*.a
*.ali
*.aru
*.class
*.db
*.dbg
*.dll
*.DS_Store
*.err
*.exe
*.jar
*.local
*.lock
*.log
*.o
*.pdf
*.prj
*.pyc
*.sln
*.stderr
*.stdout
*.suo
*.swo
*.swp
*.tmp
*.war
*.zip
*~
/alire/
/bin/testapi
/bin/testgui
/config/
/lib-backup/
/lib-out/
/obj/
/shelf/
/workspace.xml
a.out
coverdata
dist
dist-ssr
logs
node_modules
nohup.out
Thumbs.db
